$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
<<<<<<< HEAD
$gutter: 15px;  //espacement
=======
$gutter: 15px; //espacement
>>>>>>> 791133ce2b98ea17494653eae286ebbd9d5c1130
