:root {
  --app-primary: rgba(10,6,92, 0.9);;
  --app-primary-dark: #330d2d;
  --app-secondary: rgba(10,6,92, 0.8);
  --app-tertiary: #d0e7f0;

  --app-dark: #525252;
  --app-light: #ffffff;
  --app-bg-light: #f0d8ea;
  --app-darklight: #ebedf2;
  --app-darklight2: #bebdbd;
}
