<header class="fixed-top">


   <ng-content select ='.tr_header'> </ng-content>

 </header>

 <main>

   <div class="shadow position-fixed">
   </div>
   <aside>
     <div class="scroller">
       <!--Nav-->
       <ng-content select ='.tr_button'> </ng-content>

       <ng-content select ='.tr_nav'> </ng-content>
     </div>
   </aside>
   <div class="page">
     <div class="contents">
       <ng-content select=".tr_router"> </ng-content>
      aaaaah

     </div>


     <footer>
       <!--Footer-->

       <ng-content select ='.tr_footer'> </ng-content>
     </footer>
   </div>
 </main>
